*{
    padding: 0;
    margin: 0;
}

.barra{
    display: flex;
    flex-direction: row;
}

.imagen a img{
    height: 4rem;
    width: 4rem;
    margin: 1rem;
    align-self: flex-end;
}

.imagen a img:hover{
    opacity: 0.75;
}



.iconos_izquierda{
    display: flex;
    gap: 30;
    padding: 10px;
}

.barra_buscar{
    flex-grow: 3;
    margin: 2rem;
}

.barra_buscar input{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgb(238, 238, 238);

}

.barra_buscar input:hover{
    background-color: rgba(166, 166, 166, 0.816);
}

.iconos_derecha{
    display: flex;
    margin: 1rem;
    gap: 30;
}

.boton_negro{
    color: white;
    background-color: rgb(8, 8, 8);
    border-radius: 40px;
    border: #faf3f3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 20px;
    font-weight: bold;
    margin: 1rem;
}

.boton_crear{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border: #faf3f3;
    
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 20px;
    font-weight: bold;
    margin: 1rem;
}

.boton_notificaciones{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: #faf3f3;
    margin: 1rem;
    width: fit-content;
}

.boton_chat{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: #faf3f3;
    
    align-items: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 20px;
    font-weight: bold;
    margin: 1rem;
}

.boton_perfil{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: #faf3f3;
    
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 20px;
    font-weight: bold;
    margin: 1rem;
}

.boton_ajustes{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 25%;
    border: #faf3f3;
    
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 20px;
    font-weight: bold;
    margin: 1rem;
}

.boton_notificaciones:hover{
    background-color: rgb(112, 109, 109);
}

.boton_chat:hover{
    background-color: rgb(112, 109, 109);
}
.boton_perfil:hover{
    background-color: rgb(112, 109, 109);
}
.boton_ajustes:hover{
    background-color: rgb(112, 109, 109);
}

.contenido{
    position: absolute;
    margin-top: 15px;
}

.images{
    columns: 8 240px;
    margin: auto;
}
.images .card_image{
    position: relative;
    padding: 10px;
}

.images .card_image img{
    border-radius: 15px;
    min-width: 240px;
    max-width: 240px;
}

.boton_upload{
    position: absolute;
    left: 70%;
    bottom: 5%;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    border: white;
    visibility: hidden;
}

.boton_more{
    position: absolute;
    left: 80%;
    bottom: 5%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: white;
    visibility: hidden;
}



.boton_imagen{
    position: absolute;
    right: 10%;
    top: 35px;
    background-color: rgb(214, 45, 45);
    color: white;
    border-radius: 30px;
    border: #faf3f3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    visibility: hidden;
    
}

.images .card_image:hover > button{
    visibility: visible;
}

.boton-rojo:hover{
    background-color: rgb(158, 46, 46);
    visibility: visible;
}

.card_image:hover{
    opacity: 0.75;
    border-radius: 15px;
}

@media screen and (max-width:768px) {
    .images{
        columns: 3 240px;
        margin: auto;
    }

    .barra_buscar{
        flex-grow: 1;
        margin: 2rem;
    }

}





